$navbar-height: 51px;
$padding-vertical: 15px;
$wagtail-color: rgb(0, 127, 127);
$html-background-color: whitesmoke;
$body-bg-color: #f2f2f2;
$font-color: #333333;
$main-color: #F15A29;

@import "helpers/utilities";
@import "pages/base";
@import "components/elements";
@import "components/carousel";
@import "components/timeline";
@import "components/prev-next";
@import "components/related_links";
@import "components/form";
@import "components/person_listing";

@import "pages/home";
@import "pages/course";
@import "pages/standard";
@import "pages/magazine";
@import "pages/blog";
