{% extends "demo/base.html" %}
{% load demo_tags wagtailcore_tags wagtailimages_tags i18n %}

{% block content %}
    {% include "demo/includes/intro.html" with intro=self.intro only %}

    <div class="col-sm-8">
      {% include "demo/includes/body.html" with body=self.body only %}
    </div>


    <aside class="course-aside pull-right col-sm-4 text-center">
      {% if self.date_from %}
        <div>
          <i class="fa fa-calendar-o fa-2x"></i>
          <h5>{% trans "Date" %}: <strong>{{self.date_from}}</strong></h5>
        </div>
      {% endif %}

      {% if self.languages %}
        <div>
          <i class="fa fa-language fa-2x"></i>
          <h5>{% trans "Languages" %}: <strong>{{self.languages}}</strong></h5>
        </div>
      {% endif %}

      {% if self.cost_lecture or self.cost_outreach %}
        <div>
          <i class="fa fa-credit-card fa-2x"></i>

          {% if self.cost_lecture %}
            <h5>{% trans "Lecture fees" %}: <strong>{{self.cost_lecture}}</strong></h5>
          {% endif %}

          {% if self.cost_outreach %}
            <h5>{% trans "Outreach fees" %}: <strong>{{self.cost_outreach}}</strong></h5>
          {% endif %}
        </div>
      {% endif %}

      {% if self.is_dts %}
        <a class="btn btn-default btn-lg" href="{% if request.LANGUAGE_CODE == 'en' %}/en/about-us/what-is-ywam/dts{% else %}/br/sobre-nos/o-que-e-jocum/eted{% endif %}">{% trans "Learn more about DTS" %}</a>
      {% endif %}

    </aside>
{% endblock %}

{% block aside %}
   {% form_page calling_page=self  %}
{% endblock %}


