{% extends "demo/base.html" %}
{% load wagtailcore_tags demo_tags %}

{% block content %}
    {% include "demo/includes/intro.html" with intro=self.intro only %}

    {# Listing created with a tag - allows filtering by whether the page is live #}
    {# See also the blog index or events index where the listing is created from a method defined in models.py #}
    <div class="standard-idx-listing col-sm-12">
      {% standard_index_listing calling_page=self %}
    </div>

    {% person_listing calling_page=self %}

    {% include "demo/includes/body.html" with body=self.body only %}


    {% include "demo/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}

{% block aside %}
  {% if self.single_form %}
    {% form_page calling_page=self  %}
  {% endif %}
{% endblock %}
