{% load wagtailcore_tags %}

{% if self.depth > 3 %}{# Previous and next buttons are not relevant for the home page and categories #}
  {% with prev=self.get_prev_siblings.live.first next=self.get_next_siblings.live.first %}
    <nav>
      <ul class="pager">
        {% if prev %}
          <li class="previous">
            <a href="{% pageurl prev %}" class="{% if next %}col-sm-6{% else %}col-sm-12{% endif %}">
              {{prev}}
            </a>
          </li>
        {% endif %}
        {% if next %}
          <li class="next">
            <a href="{% pageurl next %}" class="{% if prev %}col-sm-6{% else %}col-sm-12{% endif %}">
              {{next}}
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endwith %}
{% endif %}
