{% load wagtailcore_tags wagtailimages_tags i18n %}

{% if related_links %}
<aside class="related_links">
  <div class="container">
        <div class="home-block col-sm-12">
                <div class="home-block-header">
                  <h3 class="home-block-title">{% trans "More like this" %}</h3>
                </div>
                <div class="list-group text-center">
                    {% for related_link in related_links %}
                        <a class="list-group-item col-sm-2" href="{{ related_link.link }}">
                          <div class="media">
                              <div class="media-top">
                                {% image related_link.feed_image fill-150x150-c100 as img %}
                                <img class="media-object img-circle" src="{{ img.url }}" />
                              </div>
                            <div class="media-body">
                              <h5 class="media-heading">{{ related_link.title }} </h5>
                            </div>
                          </div>
                        </a>
                    {% endfor %}
                </div>
        </div>
    </div>
</aside>

{% endif %}

