{% load wagtailcore_tags i18n %}

{% if ancestors %}
  <ol class="breadcrumb">
    {% for ancestor in ancestors %}
      {% if forloop.last %}
      <li class="active">{{ ancestor}}</li>
      {% else %}
        <li>
          <a class="link" href="{% pageurl ancestor %}">
            {% if ancestor.slug == 'en' or ancestor.slug == 'br' %}
              {% trans "YWAM Cerrado" %}
            {% else %}
              {{ ancestor }}
            {% endif %}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
{% endif %}
