{% load wagtailcore_tags wagtailimages_tags %}
{% if pages or pages_index %}
    <div class="list-group text-center">
        {% for pagei in pages_index %}
            <a class="list-group-item no-padding col-sm-4" href="{% pageurl pagei %}">
              <div class="media-top">
                {% image pagei.feed_image fill-365x300-c100 as img %}
                <img class="media-object" src="{{img.url}}">
              </div>

              <div class="media-body">
                <h4 class="list-group-item-heading">{{ pagei.title }} <i class="fa fa-flag-o"></i></h4>
              </div>
            </a>
        {% endfor %}
        {% for page in pages %}
            <a class="list-group-item no-padding col-sm-4" href="{% pageurl page %}">
              <div class="media-top">
                {% image page.feed_image fill-365x300-c100 as img %}
                <img class="media-object" src="{{img.url}}">
              </div>

              <div class="media-body">
                <h4 class="list-group-item-heading">{{ page.title }} <i class="fa fa-flag-o"></i></h4>
              </div>
            </a>
        {% endfor %}
    </div>
{% endif %}

